.yogaHeader{
    text-align: center;
    width:100%;
    font-size: 4vw;
    color:#080c0f
}

@media screen and (max-width:800px){
    .yogaHeader{
        position:relative;
        top:7vh;
        font-size: 6vw;
    }
}